.buttonNavegate {
    background-color: rgb(15, 0, 71);
    color: whitesmoke;
    border: 10px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.buttonNavegate:hover {
  background-color: rgb(20, 0, 94);
}

.lineHorizontal {
  
}

.name {
  font-family: 'Comforter', cursive;
}