.lineHorizontalHomePage {
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}

.articleHomePage {
    margin-left: 400px;
    margin-right: 400px;
}

.imageHomePage {
    height: 450px;
    margin-top: 50px;
}

.developerPresentation{
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

.description {
    
}