.sectionBackgroundWhit{
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    padding: 20px;
    border-radius: 10px;
  }

  @media(max-width: 500px){
    .sectionBackgroundWhit{
      margin-left: 5%;
      margin-right: 5%;
    }
  
   }