body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilos para navegadores WebKit */
/* Track */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(30, 142, 207);
  border-radius: 5px; /* Cantos arredondados */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da alça ao passar o mouse */
}
